{% extends "web_adminbase.html" %} {% block body %}{% load static %}
<script type="text/javascript" src="{% static 'js/custom_table.js' %}"></script>
<style
  rel="stylesheet"
  type="text/css"
  src="{% static 'cs/table.css' %}"
></style>
<div class="m-4">
  <div class="card me-6 p-2" style="width: auto">
    <h4 class="m-0 p-0">
      Corporate Alias
      <hr class="hr p-0 mt-1 me-1" />
    </h4>
    <form
      action="/add-corporate-alias"
      method="post"
      enctype="multipart/form-data"
    >
      {% csrf_token %}
      <div class="form-group row mt-2">
        <label for="" class="col-sm-2 form-control-label">Corporate Name</label>
        <div class="col-sm-10">
          <select
            class="form-control selectpicker"
            id="select-country"
            data-live-search="true"
            name="corporate"
            required 
          >
          <option>---Select Corporate------</option>
            {% for corporate in list %}
            <option
              value="{{corporate.id}}"
              data-tokens="{{corporate.title}}"
              data-alias="{{corporate.alias_name}}"
              data-region="{{corporate.h_abbreviation}}"
            >
              {{corporate.title}}
            </option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="form-group row mt-3">
        <label for="" class="col-sm-2 form-control-label">Region Name</label>
        <div class="col-sm-10">
          <input type="text" id="region-textbox" class="form-control" readonly />
        </div>
      </div>
      <div class="form-group row mt-3">
        <label for="" class="col-sm-2 form-control-label">Alias Name</label>
        <div class="col-sm-10">
          <input type="text" id="alias-textbox" class="form-control" readonly />
        </div>
      </div>
      <div class="form-group row mt-3">
        <label for="" class="col-sm-2 form-control-label">Add Alias</label>
        <div class="col-sm-10">
          <input
            type="text"
            name="alias"
            id="alias-textbox"
            class="form-control"
            placeholder="Enter new alias name"
          />
        </div>
      </div>
      <div class="d-flex justify-content-center mt-2">
        <button type="submit" class="btn btn-primary pe-4 ps-4 m-2">
          Upadate Alias
        </button>
      </div>
    </form>
    <h4 class="mt-4 p-0">
      All Corporate List
      <hr class="hr p-0 mt-1 me-1" />
    </h4>
    <table
      id="example"
      class="table table-bordered text-center"
      style="width: 100%"
    >
      <thead class="table-dark text-center">
        <tr class="pt-7 pb-7"></tr>
        <tr class="p-3 text-center">
          <th>S.No.</th>
          <th>Corporate Title</th>
          <th>Alias Name</th>
        </tr>
      </thead>
      <tbody>
        {% for corporate in list %}
        <tr>
          <td>{{forloop.counter}}</td>
          <td>{{corporate.title}}</td>
          <td>{{corporate.alias_name}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<script>
  // Get the select element
  var select = document.getElementById("select-country");
  // Store the original options
  var originalOptions = Array.from(select.options);
  // Get the alias textbox
  var aliasTextbox = document.getElementById("alias-textbox");
  var regionTextbox = document.getElementById("region-textbox");

  // Add an event listener to the select element
  select.addEventListener("change", function () {
    // Get the selected option
    var selectedOption = this.options[this.selectedIndex];
    // Get the alias value from the selected option
    var aliasValue = selectedOption.getAttribute("data-alias");
    var regionValue = selectedOption.getAttribute("data-region");
    // Update the alias textbox value
    aliasTextbox.value = aliasValue;
    regionTextbox.value = regionValue;
  });

  // Add an event listener to the input field of the selectpicker
  select.previousElementSibling.addEventListener("input", function () {
    // Clear the current options
    select.innerHTML = "";
    // Get the input value and make it lowercase
    var searchText = this.value.trim().toLowerCase();

    // Filter the original options array to include only those that contain the search text
    var filteredOptions = originalOptions.filter(function (option) {
      return option.textContent.trim().toLowerCase().includes(searchText);
    });

    // Append the filtered options to the select element
    filteredOptions.forEach(function (option) {
      select.appendChild(option.cloneNode(true));
    });

    // Refresh the selectpicker
    $(select).selectpicker("refresh");
  });
</script>
{% endblock %}
